n8n/fitness-workflow.json
{
  "id": "fitbitTracker001",
  "name": "FitbitTracker — Google Health sleep",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fitness-sync",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "fitness-sync-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fitbitTrackerWebhookAuth",
          "name": "FitbitTracker Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const endDate = DateTime.now().setZone('America/Toronto').startOf('day').plus({ days: 1 });\nconst startDate = endDate.minus({ days: 7 });\n\nreturn [{\n  json: {\n    days: 7,\n    timezone: 'America/Toronto',\n    startDate: startDate.toFormat('yyyy-MM-dd'),\n    endDateExclusive: endDate.toFormat('yyyy-MM-dd'),\n    requestedAt: new Date().toISOString(),\n  },\n}];"
      },
      "id": "node-prep",
      "name": "Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://health.googleapis.com/v4/users/me/identity",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "node-health-identity",
      "name": "Google Health Identity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "zTvzoPpvTXOvI3rA",
          "name": "Google account"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://health.googleapis.com/v4/users/me/dataTypes/sleep/dataPoints:reconcile",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "dataSourceFamily",
              "value": "users/me/dataSourceFamilies/google-wearables"
            },
            {
              "name": "pageSize",
              "value": "25"
            },
            {
              "name": "filter",
              "value": "={{ 'sleep.interval.civil_end_time >= \"' + $('Prep').first().json.startDate + '\" AND sleep.interval.civil_end_time < \"' + $('Prep').first().json.endDateExclusive + '\"' }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "node-health-sleep",
      "name": "Google Health Sleep",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "zTvzoPpvTXOvI3rA",
          "name": "Google account"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const MINUTE_MS = 60_000;\n\nfunction finiteNumber(value, fallback = 0) {\n  const number = Number(value);\n  return Number.isFinite(number) ? number : fallback;\n}\n\nfunction roundedMinutesBetween(startTime, endTime) {\n  const start = Date.parse(startTime);\n  const end = Date.parse(endTime);\n  if (!Number.isFinite(start) || !Number.isFinite(end) || end < start) {\n    return 0;\n  }\n  return Math.round((end - start) / MINUTE_MS);\n}\n\nfunction roundOne(value) {\n  return Math.round((value + Number.EPSILON) * 10) / 10;\n}\n\nfunction enumKey(value, prefix = '') {\n  const normalized = String(value || '').toLowerCase();\n  if (!normalized) {\n    return '';\n  }\n  return prefix && normalized.startsWith(prefix) ? normalized.slice(prefix.length) : normalized;\n}\n\nfunction civilDateValue(civilDateTime) {\n  const date = civilDateTime?.date;\n  if (!date) {\n    return null;\n  }\n\n  const year = finiteNumber(date.year, NaN);\n  const month = finiteNumber(date.month, NaN);\n  const day = finiteNumber(date.day, NaN);\n  if (![year, month, day].every(Number.isInteger)) {\n    return null;\n  }\n\n  return `${String(year).padStart(4, '0')}-${String(month).padStart(2, '0')}-${String(day).padStart(2, '0')}`;\n}\n\nfunction offsetSeconds(offset) {\n  const value = String(offset || '').trim();\n  if (!value.endsWith('s')) {\n    return 0;\n  }\n  return finiteNumber(value.slice(0, -1), 0);\n}\n\nfunction localDateFromPhysicalTime(timestamp, utcOffset) {\n  const physicalTime = Date.parse(timestamp);\n  if (!Number.isFinite(physicalTime)) {\n    return null;\n  }\n\n  const localTime = new Date(physicalTime + offsetSeconds(utcOffset) * 1000);\n  return localTime.toISOString().slice(0, 10);\n}\n\nfunction normalizeStage(stage) {\n  const type = enumKey(stage?.type, 'sleep_stage_type_');\n  if (!type || type === 'unspecified') {\n    return null;\n  }\n\n  return {\n    type,\n    startTime: stage.startTime || null,\n    endTime: stage.endTime || null,\n    startUtcOffset: stage.startUtcOffset || null,\n    endUtcOffset: stage.endUtcOffset || null,\n    durationMinutes: roundedMinutesBetween(stage.startTime, stage.endTime),\n  };\n}\n\nfunction buildStageSummary(summaryEntries, stages) {\n  const result = {};\n\n  for (const entry of Array.isArray(summaryEntries) ? summaryEntries : []) {\n    const type = enumKey(entry?.type, 'sleep_stage_type_');\n    if (!type || type === 'unspecified') {\n      continue;\n    }\n    result[type] = {\n      minutes: Math.max(0, finiteNumber(entry.minutes, 0)),\n      count: Math.max(0, finiteNumber(entry.count, 0)),\n    };\n  }\n\n  if (Object.keys(result).length > 0) {\n    return result;\n  }\n\n  for (const stage of stages) {\n    result[stage.type] ??= { minutes: 0, count: 0 };\n    result[stage.type].minutes += stage.durationMinutes;\n    result[stage.type].count += 1;\n  }\n\n  return result;\n}\n\nfunction inferredAsleepMinutes(type, stageSummary) {\n  if (type === 'stages') {\n    return ['light', 'deep', 'rem'].reduce(\n      (total, key) => total + finiteNumber(stageSummary[key]?.minutes, 0),\n      0,\n    );\n  }\n  return finiteNumber(stageSummary.asleep?.minutes, 0);\n}\n\nfunction normalizeSource(dataSource) {\n  if (!dataSource) {\n    return null;\n  }\n\n  return {\n    recordingMethod: dataSource.recordingMethod || null,\n    platform: dataSource.platform || null,\n    device: dataSource.device\n      ? {\n          formFactor: dataSource.device.formFactor || null,\n          manufacturer: dataSource.device.manufacturer || null,\n          displayName: dataSource.device.displayName || null,\n        }\n      : null,\n    application: dataSource.application\n      ? {\n          packageName: dataSource.application.packageName || null,\n          webClientId: dataSource.application.webClientId || null,\n          googleWebClientId: dataSource.application.googleWebClientId || null,\n        }\n      : null,\n  };\n}\n\nfunction normalizeSleepPoint(point) {\n  const sleep = point?.sleep;\n  const interval = sleep?.interval;\n  if (!sleep || !interval?.startTime || !interval?.endTime) {\n    return null;\n  }\n\n  const date =\n    civilDateValue(interval.civilEndTime) ||\n    localDateFromPhysicalTime(interval.endTime, interval.endUtcOffset);\n  if (!date) {\n    return null;\n  }\n\n  const type = enumKey(sleep.type, 'sleep_type_') || 'unspecified';\n  const stages = (Array.isArray(sleep.stages) ? sleep.stages : [])\n    .map(normalizeStage)\n    .filter(Boolean);\n  const stageSummary = buildStageSummary(sleep.summary?.stagesSummary, stages);\n  const durationMinutes = Math.max(\n    0,\n    finiteNumber(\n      sleep.summary?.minutesInSleepPeriod,\n      roundedMinutesBetween(interval.startTime, interval.endTime),\n    ),\n  );\n  const minutesAsleep = Math.max(\n    0,\n    finiteNumber(sleep.summary?.minutesAsleep, inferredAsleepMinutes(type, stageSummary)),\n  );\n  const minutesAwake = Math.max(\n    0,\n    finiteNumber(sleep.summary?.minutesAwake, stageSummary.awake?.minutes || 0),\n  );\n  const efficiency = durationMinutes > 0 ? roundOne((minutesAsleep / durationMinutes) * 100) : 0;\n  const isNap = Boolean(sleep.metadata?.nap);\n\n  return {\n    id:\n      point.dataPointName ||\n      point.name ||\n      sleep.metadata?.externalId ||\n      `sleep-${date}-${interval.endTime}`,\n    date,\n    type,\n    isNap,\n    startTime: interval.startTime,\n    endTime: interval.endTime,\n    startUtcOffset: interval.startUtcOffset || null,\n    endUtcOffset: interval.endUtcOffset || null,\n    civilStartTime: interval.civilStartTime || null,\n    civilEndTime: interval.civilEndTime || null,\n    durationMinutes,\n    minutesAsleep,\n    minutesAwake,\n    minutesToFallAsleep: Math.max(0, finiteNumber(sleep.summary?.minutesToFallAsleep, 0)),\n    minutesAfterWakeUp: Math.max(0, finiteNumber(sleep.summary?.minutesAfterWakeUp, 0)),\n    efficiency,\n    stages,\n    stageSummary,\n    metadata: {\n      processed: Boolean(sleep.metadata?.processed),\n      stagesStatus: sleep.metadata?.stagesStatus || null,\n      manuallyEdited: Boolean(sleep.metadata?.manuallyEdited),\n      externalId: sleep.metadata?.externalId || null,\n    },\n    source: normalizeSource(point.dataSource),\n    createTime: sleep.createTime || null,\n    updateTime: sleep.updateTime || null,\n  };\n}\n\nfunction isWithinRange(record, startDate, endDateExclusive) {\n  if (startDate && record.date < startDate) {\n    return false;\n  }\n  if (endDateExclusive && record.date >= endDateExclusive) {\n    return false;\n  }\n  return true;\n}\n\nfunction recencySort(left, right) {\n  return (\n    right.date.localeCompare(left.date) ||\n    Date.parse(right.endTime) - Date.parse(left.endTime) ||\n    right.durationMinutes - left.durationMinutes\n  );\n}\n\nfunction preferredRecord(current, candidate) {\n  if (!current) {\n    return candidate;\n  }\n  if (candidate.durationMinutes !== current.durationMinutes) {\n    return candidate.durationMinutes > current.durationMinutes ? candidate : current;\n  }\n  if (candidate.type !== current.type) {\n    return candidate.type === 'stages' ? candidate : current;\n  }\n  return Date.parse(candidate.updateTime || candidate.endTime) >\n    Date.parse(current.updateTime || current.endTime)\n    ? candidate\n    : current;\n}\n\nfunction average(records, field, precision = 0) {\n  if (records.length === 0) {\n    return 0;\n  }\n  const value = records.reduce((total, record) => total + finiteNumber(record[field], 0), 0) /\n    records.length;\n  return precision === 1 ? roundOne(value) : Math.round(value);\n}\n\nfunction averageStageMinutes(nights) {\n  const stageTotals = new Map();\n\n  for (const night of nights) {\n    for (const [type, summary] of Object.entries(night.stageSummary)) {\n      const current = stageTotals.get(type) || { total: 0, count: 0 };\n      current.total += finiteNumber(summary.minutes, 0);\n      current.count += 1;\n      stageTotals.set(type, current);\n    }\n  }\n\n  return Object.fromEntries(\n    [...stageTotals.entries()].map(([type, value]) => [\n      type,\n      value.count > 0 ? Math.round(value.total / value.count) : 0,\n    ]),\n  );\n}\n\nfunction normalizeSleepResponse({\n  dataPoints = [],\n  startDate = null,\n  endDateExclusive = null,\n  generatedAt = new Date().toISOString(),\n} = {}) {\n  const normalized = (Array.isArray(dataPoints) ? dataPoints : [])\n    .map(normalizeSleepPoint)\n    .filter(Boolean)\n    .filter((record) => isWithinRange(record, startDate, endDateExclusive));\n\n  const naps = normalized.filter((record) => record.isNap).sort(recencySort);\n  const mainByDate = new Map();\n\n  for (const record of normalized.filter((item) => !item.isNap)) {\n    mainByDate.set(record.date, preferredRecord(mainByDate.get(record.date), record));\n  }\n\n  const nights = [...mainByDate.values()].sort(recencySort);\n\n  return {\n    latest: nights[0] || null,\n    nights,\n    naps,\n    summary: {\n      nightsCount: nights.length,\n      napsCount: naps.length,\n      averageDurationMinutes: average(nights, 'durationMinutes'),\n      averageMinutesAsleep: average(nights, 'minutesAsleep'),\n      averageMinutesAwake: average(nights, 'minutesAwake'),\n      averageEfficiency: average(nights, 'efficiency', 1),\n      averageStageMinutes: averageStageMinutes(nights),\n    },\n    range: {\n      startDate,\n      endDateExclusive,\n    },\n    generatedAt,\n  };\n}\n\n\nfunction extractError(body) {\n  if (body == null) return 'No response body';\n  if (typeof body === 'string') return body.slice(0, 400);\n  if (body.error?.message) return body.error.message;\n  if (body.error_description) return body.error_description;\n  if (typeof body.error === 'string') return body.error;\n  return JSON.stringify(body).slice(0, 400);\n}\n\nfunction pick(nodeName) {\n  try {\n    const response = $(nodeName).first().json;\n    const status = typeof response.statusCode === 'number' ? response.statusCode : null;\n    const body = response.body !== undefined ? response.body : response;\n    const ok = status !== null ? status >= 200 && status < 300 : !response.error;\n    return { ok, status, body };\n  } catch (error) {\n    return { ok: false, status: null, body: null, error: error.message };\n  }\n}\n\nconst prep = $('Prep').first().json;\nconst identityCall = pick('Google Health Identity');\nconst sleepCall = pick('Google Health Sleep');\nconst sleepBody = sleepCall.body && typeof sleepCall.body === 'object' ? sleepCall.body : {};\nconst dataPoints = sleepCall.ok && Array.isArray(sleepBody.dataPoints) ? sleepBody.dataPoints : [];\nconst normalized = normalizeSleepResponse({\n  dataPoints,\n  startDate: prep.startDate,\n  endDateExclusive: prep.endDateExclusive,\n  generatedAt: new Date().toISOString(),\n});\nconst sleepError = sleepCall.ok ? null : extractError(sleepCall.body);\n\nreturn [{\n  json: {\n    ok: sleepCall.ok,\n    message: sleepCall.ok ? null : 'Google Health sleep fetch failed',\n    error: sleepError,\n    identity: identityCall.ok ? identityCall.body : null,\n    ...normalized,\n    sections: {\n      identity: {\n        ok: identityCall.ok,\n        status: identityCall.status,\n        error: identityCall.ok ? null : extractError(identityCall.body),\n      },\n      sleep: {\n        ok: sleepCall.ok,\n        status: sleepCall.status,\n        count: dataPoints.length,\n        partial: Boolean(sleepBody.nextPageToken),\n        error: sleepError,\n      },\n    },\n  },\n}];"
      },
      "id": "node-normalize-sleep",
      "name": "Normalize Sleep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      },
      "id": "node-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep": {
      "main": [
        [
          {
            "node": "Google Health Identity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Health Identity": {
      "main": [
        [
          {
            "node": "Google Health Sleep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Health Sleep": {
      "main": [
        [
          {
            "node": "Normalize Sleep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Sleep": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}
